*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-brown: #423a3a;
  --peach: hsl(0, 36%, 70%);
  --pink: #ee8b8b;
  --off-white: #dbdbdb;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 10.83px;
  color: var(--peach);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

h1 span {
  display: block;
  color: var(--dark-brown);
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 22px;
  color: var(--peach);
  max-width: 311px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 21px;
  margin-top: 31px;
  margin-left: 32px;
}

.hero-img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  margin-top: 33px;
  margin-bottom: 64px;
}

.container {
  display: grid;
  gap: 16px;
}

/* Form Styles */
form {
  display: flex;
  padding: 0;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 92px;
  justify-content: center;
  width: 100%;
}

.field-wrapper {
  width: 100%;
  position: relative;
}

input {
  flex: 1;
  border: 1px solid var(--peach);
  border-radius: 28px;
  font-family: inherit;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  width: 311px;
  height: 48px;
  padding: 10px 24px;
}

input::placeholder {
  color: hsla(0, 36%, 70%, 0.5);
}

input:focus {
  outline: 1px solid var(--pink);
}

button {
  cursor: pointer;
  width: 64px;
  height: 48px;
  border: none;
  border-radius: 28px;
  background: linear-gradient(to bottom right, #f8bfbf, #ee8b8b);
  position: absolute;
  right: 0;
  box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.2476);
}

button:active {
  cursor: pointer;
  box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.2476);
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.icon-error {
  position: absolute;
  right: 75px;
  top: 12px;
  display: none;
}

.input-error {
  border: 2px solid #f96464;
}

.error-message {
  display: block;
  color: #f96464;
  font-size: 13px;
  line-height: 28px;
  padding-top: 8px;
  padding-left: 24px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.32px;
    max-width: 444px;
    text-align: left;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    max-width: 444px;
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
  }

  section {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 610px);
    grid-template-rows: 98px 1fr;
    grid-template-areas:
      "logo image"
      "container image";
    height: 100dvh;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    gap: 32px;
  }

  .logo {
    width: 158px;
    height: 33px;
    margin-top: 65px;
    margin-left: 165px;
    grid-area: logo;
  }

  .hero-img {
    display: block;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    object-position: top;
    margin-top: 0;
    margin-bottom: 0;
    grid-area: image;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    grid-area: container;
    margin-left: 165px;
  }

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  input {
    flex: 1;
    border: 1px solid var(--peach);
    border-radius: 28px;
    font-family: inherit;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    width: 455px;
    height: 56px;
    padding: 10px 24px;
  }

  button {
    width: 100px;
    height: 56px;
    margin: 0;
  }

  .icon-error {
    position: absolute;
    right: 115px;
    top: 16px;
    display: none;
  }

  form {
    display: flex;
    padding: 0 0 0 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-start;
  }
}
